/*
** mixin
*/

/*
** breakpoint
**
** 1. references the breakpoints map in _variables.scss
*/

@mixin breakpoint($device-size) {
    $breakpoint: map-get($breakpoints, $device-size); /* 1 */

    @media(min-width: $breakpoint) {
        @content;
    }
}

/*
** container
*/

@mixin container {
    display: block;
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: $space_sm;
    padding-left: $space_sm;
}
