/*
** variable
*/

/* 
* color
*/

$white: rgb(255, 255, 255);
$black: rgb(51, 51, 51);

/*
** spacer
*/

$space_xs: 0.8rem;
$space_sm: 1.6rem;
$space_md: 3.2rem;
$space_lg: 6.4rem;
$space_xl: 9.8rem;

/*
** breakpoint
*/

$breakpoint_sm: 37.5em;
$breakpoint_md: 64em;
$breakpoint_lg: 80em;
$breakpoint_xl: 120em;

$breakpoints: (
    sm: $breakpoint_sm,
    md: $breakpoint_md,
    lg: $breakpoint_lg,
    xl: $breakpoint_xl
);
