/**
* 1. First media query is to support when the current device has a real hover state
* Second media query is to support IE11
* 2. Adds underline to anchors on hover
*/

.anchor {
    display: inline-flex;
    align-items: center;
    color: $color_4;
    font-weight: 700;
    text-decoration: none;

    &:visited {
        color: $color_4;
    }

    @media (hover: hover), (-ms-high-contrast: none) { // 1
        &:hover {
            box-shadow: inset 0 0 0 transparent, 
            inset 0 -0.2rem 0 $color_4; // 2
        }
    }
}

.icon {
    .anchor & {
        margin-left: 0.8rem;
        fill: $color_4;
    }
}
