/**
* 1. Adds underline to anchors on hover
*/

a {
    color: $color_4;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        box-shadow: inset 0 0 0 transparent, 
            inset 0 -0.2rem 0 $color_4; // 1
    }

    &:visited {
        color: $color_4;
    }
}
