/*
** card
*/

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: $space_md + $space_xs;

    &:last-of-type {
        margin-bottom: $space_lg;
    }
}

.card__head {
    margin-bottom: $space_sm;
    padding-left: $space_md;
    border-left: 0.4rem solid $black;
}

.card__title {
    margin-bottom: 0;
    color: $black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.card__subtitle {
    margin-bottom: $space_sm;
    color: $black;
    font-weight: 700;
}

.card__link {
     align-self: flex-start;
}
