button {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
}

/**
* 1. First media query is to support when the current device has a real hover state
* Second media query is to support IE11
*/

.button {
    display: inline-flex;
    align-items: center;
    height: 4.4rem;
    max-width: 25rem;
    padding-right: $space_md;
    padding-left: $space_md;
    color: $color_4;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 0.2rem solid $color_4;

    @media (hover: hover), (-ms-high-contrast: none) { // 1
        &:hover {
            color: $color_1;
            background-color: $color_4;
            box-shadow: none;
        }
    }
}