@font-face {
    font-family: 'Roboto';
    src: url('../asset/font/Roboto-Thin.woff') format('woff'),
        url('../asset/font/Roboto-Thin.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../asset/font/Roboto-Regular.woff') format('woff'),
        url('../asset/font/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../asset/font/Roboto-Bold.woff') format('woff'),
        url('../asset/font/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

body {
    color: $white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

h1 {
    margin-bottom: $space_md + $space_sm;
    font-size: 1.8rem * 2.5;
}

h2 {
    margin-bottom: $space_md;
    font-size: 1.8rem * 2;
}

h3 {
    margin-bottom: $space_sm;
    font-size: 1.8rem * 1.5;
}

p {
    margin-top: 0;
    font-size: 1.8rem;
}

.lead {
    margin-bottom: $space_lg;
    font-size: 2rem;

    @include breakpoint('sm') {
        font-size: 2.2rem;
    }
}
