/*
** title
*/

.title {
    margin-bottom: 0;
    font-family: 'MADE Tommy Soft', Arial, Helvetica, sans-serif;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1;

    @include breakpoint('sm') {
        font-size: 7rem;
    }
}

.title__text {
    display: block;
    color: $black;
    white-space: nowrap;
}
