/*
* breakpoint
*
* 1. references the breakpoints map in _variables.scss
*/
/* 
* color
*
*  1. $color_1: dark blue;
*  2. $color_2: red;
*  3. $color_3: light green;
*  4. $color_4: yellow;
*/
/* 1 */
/* 2 */
/* 3 */
/* 4 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Thin.fa0b197a.woff") format("woff"), url("/Roboto-Thin.92b5ed56.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular.6e660a00.woff") format("woff"), url("/Roboto-Regular.cc6eee36.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Bold.1e16e3c8.woff") format("woff"), url("/Roboto-Bold.c2e0ff67.woff2") format("woff2");
  font-weight: 700;
}
body {
  color: #ffe0d1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1 {
  margin-bottom: 4.8rem;
  font-size: 4.5rem;
}

h2 {
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
}

h3 {
  margin-bottom: 1.6rem;
  font-size: 2.7rem;
}

p {
  margin-top: 0;
  font-size: 1.8rem;
}

.lead {
  margin-bottom: 6.4rem;
  font-size: 1.8rem;
  /* 1 */
}
@media (min-width: 37.5em) {
  .lead {
    font-size: 2rem;
  }
}

body {
  background-color: #022641;
}

.main {
  display: block;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.header {
  display: block;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-top: 3.2rem;
  margin-bottom: 6.4rem;
}

.footer {
  display: block;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
}

/**
* 1. First media query is to support when the current device has a real hover state
* Second media query is to support IE11
* 2. Adds underline to anchors on hover
*/
.anchor {
  display: inline-flex;
  align-items: center;
  color: #fac73a;
  font-weight: 700;
  text-decoration: none;
}
.anchor:visited {
  color: #fac73a;
}
@media (hover: hover), (-ms-high-contrast: none) {
  .anchor:hover {
    box-shadow: inset 0 0 0 transparent, inset 0 -0.2rem 0 #fac73a;
  }
}

.anchor .icon {
  margin-left: 0.8rem;
  fill: #fac73a;
}

.title {
  margin-bottom: 0;
  font-size: 5.5rem;
  line-height: 1;
  /* 1 */
}
@media (min-width: 37.5em) {
  .title {
    font-size: 7rem;
  }
}

.title__text {
  display: block;
  color: #ffe0d1;
  white-space: nowrap;
}

.title__text:nth-child(2) {
  color: #e14056;
}

.title__text:nth-child(3) {
  color: #78e189;
}

.title__text:nth-child(4) {
  color: #fac73a;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}
.card:last-of-type {
  margin-bottom: 6.4rem;
}

.card__title {
  margin-bottom: 0.8rem;
  color: #e14056;
}

.card__subtitle {
  margin-bottom: 1.6rem;
  color: #78e189;
  font-weight: 700;
}

.card__link {
  align-self: flex-start;
}

button {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

/**
* 1. First media query is to support when the current device has a real hover state
* Second media query is to support IE11
*/
.button {
  display: inline-flex;
  align-items: center;
  height: 4.4rem;
  max-width: 25rem;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  color: #fac73a;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: 0.2rem solid #fac73a;
}
@media (hover: hover), (-ms-high-contrast: none) {
  .button:hover {
    color: #022641;
    background-color: #fac73a;
    box-shadow: none;
  }
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #ffe0d1;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */