/*
** mixin
*/
/*
** breakpoint
**
** 1. references the breakpoints map in _variables.scss
*/
/*
** container
*/
/*
** variable
*/
/* 
* color
*/
/*
** spacer
*/
/*
** breakpoint
*/
/*
** reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/*
** typography
*/
/*
** font-face roboto
*/
@font-face {
  font-family: "Roboto";
  src: url("/roboto-thin.92ea107b.woff") format("woff"), url("/roboto-thin.e2d120c5.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/roboto-regular.d8db5a71.woff") format("woff"), url("/roboto-regular.9cb09d2e.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/roboto-bold.e111fe65.woff") format("woff"), url("/roboto-bold.dbc05644.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/*
** font-face made tommy soft
*/
@font-face {
  font-family: "MADE Tommy Soft";
  src: url("/made-tommy-soft-bold.63d41655.woff") format("woff"), url("/made-tommy-soft-bold.c65b0e74.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
body {
  color: rgb(51, 51, 51);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
}

/*
** heading
*/
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "MADE Tommy Soft", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-bottom: 6.4rem;
  font-size: 4.5rem;
}

h2 {
  margin-bottom: 6.4rem;
  font-size: 3.6rem;
}

h3 {
  margin-bottom: 3.2rem;
  font-size: 2.7rem;
}

/*
** paragraph
*/
p {
  margin-top: 0;
  font-size: 1.8rem;
}

.lead {
  margin-bottom: 6.4rem;
  font-size: 2rem;
  /* 1 */
}
@media (min-width: 37.5em) {
  .lead {
    font-size: 2.2rem;
  }
}

/*
** layout
*/
body {
  background-color: rgb(255, 255, 255);
}

.main {
  display: block;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

/*
** header
*/
.header {
  display: block;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-top: 3.2rem;
  margin-bottom: 6.4rem;
}

/*
** footer
*/
.footer {
  display: block;
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
}

/*
** anchor
*/
/*
** 1. First media query is to support when the current device has a real hover state
** Second media query is to support IE11
** 2. Adds underline to anchors on hover
*/
.anchor {
  display: inline-flex;
  align-items: center;
  color: rgb(51, 51, 51);
  font-weight: 700;
  text-decoration: none;
}
.anchor:visited {
  color: rgb(51, 51, 51);
}
.anchor:focus {
  outline: 0.2rem dotted rgb(255, 255, 255);
}
@media (hover: hover), (-ms-high-contrast: none) {
  .anchor:hover {
    box-shadow: inset 0 0 0 transparent, inset 0 -0.2rem 0 rgb(51, 51, 51);
  }
}

.anchor .icon {
  margin-left: 0.8rem;
  fill: rgb(51, 51, 51);
}

/*
** title
*/
.title {
  margin-bottom: 0;
  font-family: "MADE Tommy Soft", Arial, Helvetica, sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1;
  /* 1 */
}
@media (min-width: 37.5em) {
  .title {
    font-size: 7rem;
  }
}

.title__text {
  display: block;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}

/*
** card
*/
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.card:last-of-type {
  margin-bottom: 6.4rem;
}

.card__head {
  margin-bottom: 1.6rem;
  padding-left: 2.4rem;
  border-left: 0.4rem solid rgb(51, 51, 51);
}

.card__title {
  margin-bottom: 0;
  color: rgb(51, 51, 51);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.card__subtitle {
  margin-bottom: 1.6rem;
  color: rgb(51, 51, 51);
}

.card__link {
  align-self: flex-start;
}

/*
** button
*/
button {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

/*
** 1. First media query is to support when the current device has a real hover state
** Second media query is to support IE11
*/
.button {
  display: inline-flex;
  align-items: center;
  height: 4.4rem;
  max-width: 25rem;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  color: rgb(51, 51, 51);
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: 0.2rem solid rgb(51, 51, 51);
  border-radius: 0.3rem;
}
.button:focus {
  outline: 0.2rem dotted rgb(255, 255, 255);
}
@media (hover: hover), (-ms-high-contrast: none) {
  .button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    box-shadow: none;
  }
}

/*
** icon
*/
.icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgb(255, 255, 255);
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */